#캐글 Competition에 Colab을 사용하자

참고 : https://medium.com/hyunjulie/%EC%BA%90%EA%B8%80%EA%B3%BC-%EA%B5%AC%EA%B8%80-colab-%EC%97%B0%EA%B2%B0%ED%95%B4%EC%A3%BC%EA%B8%B0-6a274f6de81d

1. 개인 캐글 계정에서 API Token을 다운 받는다. (kaggle.json file)
  - [My account] - "Create New API Token"

2. 아래의 코드를 Colab에 입력 후 실행
  - 하단에 "파일 선택"이 나오면 1번에서 다운받은 kaggle.json 파일 업로드

In [4]:
!pip install kaggle
from google.colab import files
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"subong","key":"72cc29cc31b9bdb789c620a6658d46bd"}'}

3. 정상적으로 업로드 되었는지 확인

In [5]:
ls -1ha kaggle.json

kaggle.json

4. .kaggle 경로 생성하고, kaggle.json 파일을 해당 경로에 부여

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [0]:
# Permission Warning 이 일어나지 않도록 
!chmod 600 ~/.kaggle/kaggle.json

In [8]:
# 본인이 참가한 모든 대회 보기 
!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                            deadline             category             reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ----------  ---------  --------------
digit-recognizer                               2030-01-01 00:00:00  Getting Started   Knowledge       2406           False
titanic                                        2030-01-01 00:00:00  Getting Started   Knowledge      16144            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started   Knowledge       4987            True
connectx                                       2030-01-01 00:00:00  Getting Started   Knowledge        441           False
imagenet-object-localization-challenge         2029-12-31 07:00:00  Research          Knowledge         64           False
competitive-data-science-predict-future-sales  2020-12-31 23:59:00  Playground            Kudos       5711           False
abstraction-and-reasoning-challenge            2020-05-27 23:59:00  Research            $20,000         75           False
flower-classification-with-tpus                2020-05-11 23:59:00  Playground            Kudos        140           False
deepfake-detection-challenge                   2020-03-31 23:59:00  Featured         $1,000,000       1717           False
cat-in-the-dat-ii                              2020-03-31 23:59:00  Playground             Swag        604           False
ds4g-environmental-insights-explorer           2020-03-24 23:59:00  Analytics           $25,000          0           False
nlp-getting-started                            2020-03-23 23:59:00  Getting Started     $10,000       2929           False
bengaliai-cv19                                 2020-03-16 23:59:00  Research            $10,000       1329           False
google-quest-challenge                         2020-02-10 23:59:00  Featured            $25,000       1571           False
tensorflow2-question-answering                 2020-01-22 23:59:00  Featured            $50,000       1233            True
data-science-bowl-2019                         2020-01-22 23:59:00  Featured           $160,000       3497           False
pku-autonomous-driving                         2020-01-21 23:59:00  Featured            $25,000        864           False
santa-2019-revenge-of-the-accountants          2020-01-16 23:59:00  Playground             Swag        106           False
santa-workshop-tour-2019                       2020-01-15 23:59:00  Featured            $25,000       1620           False
nfl-big-data-bowl-2020                         2020-01-06 23:59:00  Featured            $75,000       2038           False

5. 캐글 API를 활용해 competition data 다운로드
  - 커널 안의 [Data] - [API 주소 복사] - 아래코드 작성(!를 꼭 작성해야함)
  - 데이터 확인(!ls)

In [9]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading HomeCredit_columns_description.csv to /content
  0% 0.00/36.5k [00:00<?, ?B/s]
100% 36.5k/36.5k [00:00<00:00, 34.4MB/s]
Downloading installments_payments.csv.zip to /content
 99% 267M/271M [00:03<00:00, 93.4MB/s]
100% 271M/271M [00:03<00:00, 83.6MB/s]
Downloading bureau.csv.zip to /content
 90% 33.0M/36.8M [00:00<00:00, 45.6MB/s]
100% 36.8M/36.8M [00:00<00:00, 57.5MB/s]
Downloading application_train.csv.zip to /content
 94% 34.0M/36.1M [00:00<00:00, 31.0MB/s]
100% 36.1M/36.1M [00:00<00:00, 47.7MB/s]
Downloading credit_card_balance.csv.zip to /content
 82% 79.0M/96.7M [00:01<00:00, 69.3MB/s]
100% 96.7M/96.7M [00:01<00:00, 86.6MB/s]
Downloading application_test.csv.zip to /content
 86% 5.00M/5.81M [00:00<00:00, 24.7MB/s]
100% 5.81M/5.81M [00:00<00:00, 23.0MB/s]
Downloading previous_application.csv.zip to /content
 88% 67.0M/76.3M [00:01<00:00, 46.6MB/s]
100% 76.3M/76.3M [00:01<00:00, 73.8MB/s]
Downloading bureau_balance.csv.zip to /content
 62% 35.0M/56.8M [00:00<00:01, 15.7MB/s]
100% 56.8M/56.8M [00:01<00:00, 53.3MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/524k [00:00<?, ?B/s]
100% 524k/524k [00:00<00:00, 73.5MB/s]
Downloading POS_CASH_balance.csv.zip to /content
 94% 102M/109M [00:02<00:00, 48.9MB/s]
100% 109M/109M [00:02<00:00, 51.2MB/s]

In [10]:
!ls

application_test.csv.zip	    installments_payments.csv.zip
application_train.csv.zip	    kaggle.json
bureau_balance.csv.zip		    POS_CASH_balance.csv.zip
bureau.csv.zip			    previous_application.csv.zip
credit_card_balance.csv.zip	    sample_data
HomeCredit_columns_description.csv  sample_submission.csv

6. .zip 파일 형태로 되어있다면 !unzip으로 압축을 풀어줄 수 있다.

In [11]:
!unzip application_train.csv.zip

Archive:  application_train.csv.zip
  inflating: application_train.csv

In [12]:
!ls

application_test.csv.zip	    installments_payments.csv.zip
application_train.csv		    kaggle.json
application_train.csv.zip	    POS_CASH_balance.csv.zip
bureau_balance.csv.zip		    previous_application.csv.zip
bureau.csv.zip			    sample_data
credit_card_balance.csv.zip	    sample_submission.csv
HomeCredit_columns_description.csv

7. 판다스의 read_csv() 함수를 이용해 데이터 불러오기

In [14]:
import pandas as pd
data = pd.read_csv("application_train.csv")
data

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

※ 아래는 위의 과정을 최종적으로 정리한 것

In [0]:
# API Token 다운받기
# 다운받은 API Token 업로드 하기
!pip install kaggle
from google.colab import files
files.upload()
# json 파일 옮겨주기
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
# Permission Warning 이 일어나지 않도록 
!chmod 600 ~/.kaggle/kaggle.json
# json 파일 제대로 업로드 됐는지 확인
ls -1ha kaggle.json
# 본인이 참가한 모든 대회 보기 
!kaggle competitions list
# 데이터셋 다운로드 받기 - 링크는 그 대회 'Data'에 있음
! kaggle competitions download -c reducing-commercial-aviation-fatalities
# 다운로드 된 것들 다 보기 
!ls
# 필요하면 압축 풀기 
!unzip train.zip